th {
	border: 1px solid black;
	width: 11rem;
	text-align: center;
	padding: 0.3rem 0.5rem;
	background-color: darkseagreen;
}

td {
	border: 1px solid black;
	text-align: left;
	padding: 0.5rem 1rem;
	width: 18rem;
}

table {
	font-size: 1.2rem;
}

h2 {
	margin-bottom: 2rem;
}

table {
	margin-bottom: 3rem;
}

element.style {
	/* border: 1px solid; */
	background-color: lightgray;
	padding: 2rem;
}

.mission-related-box {
	background-color: lightgray;
	padding: 2rem;
	margin: 2rem 0;
}

.assign-button {
	border: 1px black solid;
	width: 12rem;
	padding: 1rem;
	height: 3rem;
	/* text-align: center; */
	display: flex;
	background-color: forestgreen;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

.assign-button a {
	color: white;
}