<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/login/login.css}">
<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>ログイン</title>
</head>
<body>
	<div class="login-wrapper">
		<div class="login-content">
			<form method="POST" th:action="@{/login}" th:object=${loginForm}>
				<h2>ログイン</h2>
				<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
					th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
					class="text-danger">ログインエラーメッセージ</p>



				<label for="code">社員番号</label><br /> <input type="text"
					th:field="*{employeeCode}" th:errorclass="is-invalid" /><br />
				<br />
				<div class="invalid-feedback" th:errors="*{employeeCode}"></div>

				<label for="password">パスワード</label><br /> <input type="password"
					th:field="*{password}" th:errorclass="is-invalid" /><br />
				<br />
				<div class="invalid-feedback" th:errors="*{password}"></div>


				<input type="submit" value="ログイン" class="login-button" />
			</form>
		</div>
	</div>
</body>
</html>