<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- 個別CSS読込 -->
<link rel="stylesheet" th:href="@{/css/mission/list.css}">
<title>従業員アサイン</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>従業員アサイン画面</h2>
		<div class="employee-list">
			<h2>従業員一覧</h2>
			<table>
				<thead>
					<tr>
						<th>社員番号</th>
						<th>氏名</th>
						<th>詳細</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${employeeList}">
						<td th:text="${item.employeeCode}"></td>
						<td th:text="${item.employeeName}"></td>
						<td><a th:href="@{'/employee/detail/' + ${item.employeeId}}">詳細を見る</a></td>
						<td>
							<form method="post"
								th:action="|/mission/assign/${item.employeeId}/${missionId}|">
								<button type="submit">この従業員をアサイン</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/employee/signup}" sec:authorize="hasRole('ADMIN')">従業員の新規登録</a>
		</div>
	</div>
</body>