<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>従業員編集画面</title>
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{css/employee/list.css}">
</head>

<body>
	<div layout:fragment="content">
		<h2>従業員更新</h2>
		<form method="post" th:action="'/employee/update/' + *{employeeId}"
			th:object="${employeeUpdateForm}">

			<input type="hidden" th:field="*{employeeId}" /> <input type="hidden"
				th:field="*{password}" /> <label for="employeeCode"
				th:text="#{employeeCode}"></label><br> <input type="text"
				th:field="*{employeeCode}" th:errorclass="is-invalid" />
			<div class="invalid-feedback" th:error="*{employeeCode}"></div>
			<br>
			<br> <label for="employeeName" th:text="#{employeeName}"></label><br>
			<input type="text" th:field="*{employeeName}"
				th:errorclass="is-invalid" />
			<div class="invalid-feedback" th:error="*{employeeName}"></div>
			<br>
			<br>

			<div th:each="item : ${roleMap}">
				<label> <input type="radio" th:field="*{role}"
					th:value="${item.value}" th:text="${item.key}"
					th:errorclass="is-invalid">
				</label><br>
			</div>
			<div th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>

			<input type="submit" th:value="#{update.btn}">
		</form>



		<form method="post"
			th:action="|/employee/delete/${employeeUpdateForm.employeeId}|">
			<button type="submit">この従業員を削除する</button>
		</form>
	</div>
</body>
</html>